# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Carpeta de compilación de TypeScript
dist/
build/

# Variables de entorno (¡NUNCA las subas por seguridad!)
.env
.env.local
.env.*.local

# Archivos y carpetas del sistema operativo / IDEs
.DS_Store
.vscode/
.idea/

# Archivos temporales de Vercel (si despliegas ahí)
.vercel/

# Logs del servidor
logs/
*.log